body{
  font-size: 18px;
  line-height: 1.4;
  width: 960px;
}
header{
  height: 30rem;
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.heading{
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
}

.companyname{
  display: flex;
  font-family: Helvetica sans-sans-serif;
  font-size: 1rem;
  align-items: center;
  padding-right: 2rem;
}

.companyname img{
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

span{
  padding: 1rem 2rem;
}

.title{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  font-family: Helvetica sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  background-color: white;

}
